<mat-card>
  <form [formGroup]="postForm" (submit)="onSavePost(postForm)">
    <mat-form-field>
      <input
      matInput
      formControlName="title"
      type="text"
      name="title"
      required
      minlength="3"
      placeholder="Post Title"
      >
      <mat-error>Need a title tho</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      formControlName="content"
      rows="6"
      name="content"
      required
      placeholder="Post Content"
      >
    </textarea>
      <mat-error>Need some content, what is this, buzzfeed?</mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button type="submit" mat-raised-button color="primary">POST</button>
    </mat-card-actions>
  </form>
</mat-card>
